body {
  background-color: #94c6d5;
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', serif;
  color:#11999E;
}

hr {
  border-style: none;
  border-top-style:dotted;
  border-color:#039d9d;
  border-width: 7px;
  width: 5%;
  height:1px;
  margin-top:25px;
  margin-bottom:45px;
}

.contact-h{
width: 100%;
max-width: 500px;
margin: 20px auto 40px auto;
}

.mailbtn {
  margin-top: 100px;
  background: #66bfbf;
  background-image: -webkit-linear-gradient(top, #66bfbf, #0a7bc2);
  background-image: -moz-linear-gradient(top, #66bfbf, #0a7bc2);
  background-image: -ms-linear-gradient(top, #66bfbf, #0a7bc2);
  background-image: -o-linear-gradient(top, #66bfbf, #0a7bc2);
  background-image: linear-gradient(to bottom, #66bfbf, #0a7bc2);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  border-width:0;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight:bolder;
  padding: 10px 20px 10px 20px;
  margin-top: 25px;
  text-decoration: none;
  cursor:pointer;
}

.mailbtn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

@keyframes grow {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.5);
  }
  100% {
      transform: scale(1);
  }
}

.btn:active {
  animation: grow 0.5s ease; /* keyframe grow effect */
}

h1 {
  color: #11999E;
  font-family: 'Sacramento', cursive;
  font-size:6rem;
  margin:50px auto 0 auto;
  line-height:1;
}

h2 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-size:2.5rem;
  margin-bottom:0px;
  font-weight:normal;
}

h3 {
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
  font-weight:bold;
}

p {
  color:black;
  width:100%;
  text-wrap: pretty;
}
.bold-text{
font-weight: 900;
font-style: italic;
color:#11999E;
}

.profile {
top: -75px;
align-items: center;
max-width: 500px;
position: relative;
margin: 0 auto; /* Center horizontally */
display: flex;
flex-direction: column; /* Ensure children elements are centered vertically */
}

.image-wrapper {
  display: inline-block;
  filter: drop-shadow(4px 4px 15px grey);
}

.image-container {
width: 300px;
height: 300px;
border-radius: 50%;
overflow: hidden;
position: relative;
}

.image-container img {
width: 100%;
height: 100%;
filter: grayscale(1);
border-radius: 10%;
transition: filter 450ms ease-in-out, transform 750ms ease-out; 
overflow: hidden;
transform-origin: 10% 1%;
}

.image-wrapper:hover{
filter:drop-shadow(2px 2px 15px #11999E);
}

.image-container:hover > img {
transform: scale(1.15);
filter: grayscale(0);
}

.pro {
  text-decoration:underline;
}

#sketch-diamond{
height: 150px;
width: 150px;
}

#color-gradient{
padding-top:110px;
background: linear-gradient(to top, #eaf2f6, rgb(148, 198, 213));
transition: background-color 0.3s ease;
}

.middle-container {
  background-color: #eaf2f6;
  padding:25px;
}

.middle-container:hover > .image-profile{
scale:1.15;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 45px;
}

.skill-row {
  width:80%;
  max-width: 800px;
  margin: 50px auto 100px auto;
  text-align:left;
  line-height:2;
  clear:both;
}

.left-pic {
  width: 150px;
  float:left;
  margin-right:30px;
  margin-bottom:30px;
  filter: drop-shadow(3px 3px 15px #11999E);
}

.right-pic {
  width: 200px;
  float:right;
  margin-left:30px;
  margin-bottom: 10px;
  filter: drop-shadow(3px 3px 15px #11999E);
}

#htmlcssjspic {
width: 275px;
}

#pepperoni-pic {
width: 150px;
}

.introduction-text {
  display:block;
  width:100%;
  padding: 1px;
  line-height:2;
}

.copyright-text {
  margin:auto;
  padding-top:25px;
  color:#EAF6F6;
  font-size: 0.75rem;
  font-weight:bolder;
  font-family: 'Montserrat', sans-serif;
  padding: 20px, 0;
}
.contact-row{
  margin-top:30px;
  margin-bottom:40px;
  }

.centertext {
  padding: 25px;
  width: 450px;
  margin:auto;
  line-height:2;
}

.footer-link {
  margin:25px;
  font-weight:bolder;
  text-decoration:none;
  color: #11999E;
  font-size:14px;
  font-family: 'Calibri', sans-serif;
  font-weight:bolder;
}

.footer-link:hover{
  color:#EAF6F6;
}

@media(max-width: 431px){
.image-wrapper:hover{
filter:drop-shadow(0px 0px 0px #11999E);
}
}